:root {
  --very-dark-grayish-blue: hsl(217, 19%, 35%);
  --desaturated-dark-blue: hsl(214, 17%, 51%);
  --grayish-blue: hsl(212, 23%, 69%);
  --light-grayish-blue: hsl(210, 46%, 95%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
}

p {
  font-size: 13px;
}

body {
  font-family: "Manrope", sans-serif;
  background-color: var(--light-grayish-blue);
  color: var(--very-dark-grayish-blue);
  padding: 100px 30px;
}

.container {
  background-color: #fff;
  border-radius: 20px;
  margin-bottom: 30px;
}

.container .main-image img {
  height: 250px;
  width: 100%;
  border-radius: 20px 20px 0 0;
}

.container .description {
  padding: 30px;
}

.container .description h2 {
  font-size: 20px;
  line-height: 1.4;
  padding-bottom: 20px;
}

.container .avatar {
  position: relative;
}

.container .avatar .open-share {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--very-dark-grayish-blue);
  color: #fff;
  position: absolute;
  height: 0;
  overflow: hidden;
  width: calc(100% + 60px);
  left: -30px;
  bottom: -30px;
  border-radius: 0 0 20px 20px;
  transition: all 0.4s ease-in-out;
  z-index: 10;
}

.container .avatar .open-share.clicked {
  height: 90px;
  overflow: auto;
}

.container .avatar .open-share div {
  padding: 5px 30px;
}

.container .avatar .open-share #remove-share {
  cursor: pointer;
}

.container .avatar .open-share > div:first-child {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: var(--grayish-blue);
}

.container .avatar .open-share > div:first-child ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .avatar .open-share > div:first-child ul li {
  margin: 0 10px;
}

.container .avatar .avatar-img {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container .avatar .avatar-img .avatar-text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .avatar .avatar-img .avatar-text img {
  width: 50px;
  border-radius: 50%;
  margin-right: 20px;
}

.container .avatar .avatar-img #share {
  cursor: pointer;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .container .main-image img {
    border-radius: 20px 0 0 20px;
    width: 1000px;
    height: 100%;
  }

  .container .avatar .open-share {
    left: 50%;
    bottom: 50px;
    width: 300px;
    border-radius: 20px;
    overflow: hidden !important;
  }
  .container .avatar .open-share.clicked {
    height: 60px;
  }

  .container .avatar .open-share .triangle-down {
    position: absolute;
    left: 54%;
    transform: translateX(-54%);
    bottom: -10px;
    z-index: 10000;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 15px solid var(--very-dark-grayish-blue);
  }
}

@media (min-width: 992px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  .container {
    max-width: 800px;
    margin: auto;
  }
}
